/*  used to style the components in the application */
.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-body {
  background-color: #7C735F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

/* Color Codes */
/* Primary #282c34 */
/* Secoundary #343028 */
/* Tertiary #7C735F */
