/*  used to style the components in the application */
.App {
  text-align: center;
}

.App-header {
  background-color: #7C735F;
  background-image: url('Banner.png');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

.header-label{
  color: #f8faff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #f8faff;
  text-decoration-thickness: 5px;
  
}

.App-body {
  background-color: #c9b998;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.App-footer{
  background-color: #282c34;
  min-height: 0.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
}


.searchBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.search_button{
  background-color: #282c34;
  border: none;
  color: white;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  border: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.search_button:hover{
  background-color: #3b414d;
}

.recipeTile__img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.recipeTile__name{
  max-width: 200px;
  text-align: center;
  margin: 12px 0px;
}

.recipe_tile_board{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
  justify-content: center;
}

.meal_types_select{
  padding: 3px 3px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 8px;
}


/* Color Codes*/
/* Primary #282c34 - dark blue*/
/* slighly lighter blue #3b414d */
/* Secoundary #343028 - brown*/
/* Tertiary #7C735F - light brown*/
